* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  margin: 20px auto;
  text-align: center;
  max-width: 500px;
  background-color: hsl(0, 0%, 15%);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.display {
  width: 100%;
  font-size: 2rem;
  outline: none;
  border-radius: 5px;
  border: 10px solid hsl(0, 0%, 30%);
  background-color: hsl(0, 0%, 15%);
  color: #fff;
  padding: 10px;
}

.keys {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  font-weight: bold;
  padding: 10px;
}

button {
  font-size: 2rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 30%);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hsl(0, 0%, 45%);
}

button:active {
  background-color: hsl(0, 0%, 55%);
}

.calculate {
  grid-row: span 2;
}

.operator {
  background-color: hsl(35, 100%, 50%);
}

.operator:hover {
  background-color: hsl(35, 100%, 60%);
}

.operator:active {
  background-color: hsl(35, 100%, 70%);
}
